<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="environment-banner qa">
    🟠 QA ENVIRONMENT
</div>


<div class="container">

    <h2>User Registration Form</h2>

    <form action="/register" method="POST">

        <label>Full Name</label>
        <input type="text" name="name" required>

        <label>Email</label>
        <input type="email" name="email" required>

        <label>Phone Number</label>
        <input type="text" name="phone" required>

        <label>City</label>
        <input type="text" name="city" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit">Register</button>

    </form>

</div>

<hr>

<h3 style="color:#f39c12;">
CI/CD QA Deployment Test - Version 2
</h3>

</body>
</html>
